/*隐藏横（底部）滚动条*/
body{
	width: 100%;
	height: auto;
	position: relative;
	overflow-x:hidden;
}
/*公共头部样式*/
.header{
	position: relative;
	width: 100%;
	height: 70px;
	font-size: 17px;
	margin: 0 auto;
	display: flex;
}
.header .headernav-left{
	display: flex;
	width: 280px;
	height: 50px;
	line-height: 50px;
	margin-left:100px;		
	margin-top: 10px;
	overflow: hidden;
}
.header .headernav-body{
	position: absolute;
	display: flex;
	width: 800px;
	height: 70px;
	margin-left: 400px;
	overflow: hidden;
}

.header .headernav-body li a{	
	width: 100px;
	height: 20px;
	font-style: bold;
	font-size: 20px;
	color: #333;
	text-align: center;
	margin-top: 25px;
}
.header .headernav-body a:hover{
	color: blue;
}
.header .headernav-right{
	position: absolute;
	display: flex;
	margin-left: 1320px;
	margin-top:25px;	
	overflow: visible;
}
.header .headernav-right li{
	margin-right: 10px;
}
.btn-login .account-panel{
	position: absolute;
	padding: 0;
	display: none;
	z-index:1;	
	background-color: #f3f7f9; 
}
.btn-login .account-panel a{
	width: 45px;
	font-size: 16px;
	color: black;
	text-align: center;
	padding-top: 4px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.btn-login:hover .account-panel{
	display: block;
}
.btn-login .account-panel li:hover > a {
	background-color: #99ccff;
}
.rel-me .contact{
	position: absolute;
	padding: 0;
	display: none;
	z-index:1;
	background-color: #eee;
	width: 135px;    
}
.rel-me .contact span{
	font-size: 15px;
	padding-left: 5px;
}
.rel-me:hover .contact{
	display: block;
}
/*分隔线*/
.header-body-hr{
	width: 100%;
	height: 1px;
	color: #fff;
}
/*divbody部分,预留假设主体位置*/
.divbody{
	width: 1520px;
	height: 800px;
	background-color: #83EFB5;
	position: relative;
	margin: 0 auto;
}
/*公共底部样式*/
.footer{
	width: 1520px;
	height: auto;
	position: relative;
	background-color: #F1F5F8;
	overflow: hidden;	
}
.footer .footer-box{
	margin-left: 280px;
}					
.footer-firstbody{
	width: 960px;
	height: 160px;
	position: relative;
	margin-top: 20px;
	display: flex;
	overflow: hidden;
}
.footer-hr1{
	height: 150px;
	border: solid 0.5px #ddd;
}
.footer-hr2{
	width: 90%;
	border: solid 0.5px #ddd;
	margin: 15px auto;
}
.footer-firstbody .firstbody-item{
	width: auto;
	height: 160px;
	overflow: hidden;
	position: relative;
}
.footer-firstbody .firstbody-item .fbf-title{
	width: 200px;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -40px;

}
.footer-firstbody .firstbody-item .fbf-content{
	width: 100%;
	height: auto;
	font-size: 14px;
	margin: 30px 5px 5px 10px;
	position: relative;
}

.fbf-content-ul_1{
	float: left;
	width: 80px;
}
.fbf-content-ul_2{
	float: right;
	width: 120px;
}
.fbf-content-ul_3{
	position: absolute;
	left:0;
	top: 80px;
	width: 150px;
}
.download-qr_code{
	margin: 30px 5px 5px 10px;
}
.footer-firstbody .firstbody-item .fbf-content ul li{
	height: 20px;
	line-height: 20px;
}
.footer-firstbody .firstbody-item .fbf-content ul li a:hover{
	color: #333;
}
.footer-secondbody{
	width: 960px;
	height: 100px;
	position: relative;
	margin: 20px 0;
	overflow: hidden; 
}
.footer-secondbody .fbs-left{
	width: 50%;
	height: 60px;
	position: relative;
	float: left;
}
.footer-secondbody .fbs-right{
	width: 50%;
	height: 60px;
	position: relative;
	float: right;
}
.footer-secondbody .fbs-left li{
	float: left;
	margin: 15px 5px 0px 5px;
}
.footer-secondbody .fbs-right li{
	float: right;
	margin: 15px 5px 0px 5px;
}
.footer-thirdbody{
	width: 960px;
	height: 500px;
	background-color: #fff;
	border: 0.5px solid #999;
	position: relative;
}
.footer-thirdbody .fbt-slogan{
	position: relative;
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: #666;
	margin: 15px 35px;
}
.footer-thirdbody .fbt-part-1_2{
	width: 100%;
	height: 150px;
	position: relative;
}
.footer-thirdbody .fbt-part-1_2 .fbt-part-title{
	position: absolute;
	top:10px;
	left: 10px;
	font-size: 13px;
	font-weight: bold;
	color: #666;
}
.footer-thirdbody .fbt-part-1_2 .fbt-part-list{
	width: 800px;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 120px;
	padding-top: 10px;
}
.footer-thirdbody .fbt-part-1_2 .fbt-part-list a{
	float: left;
	width: 80px;
	height: 19px;
	font-size: 13px;
	color: #666;
	margin-right: 8px;
	margin-bottom: 3px;
}
.footer-thirdbody .fbt-part-1_2 .fbt-part-list a:hover{
	color:#333;
	text-decoration: underline;
}	
.footer-thirdbody .fbt-part_3{
	width: 100%;
	height: 150px;
	position: relative;
}
.footer-thirdbody .fbt-part_3 .fbt-part-title{
	position: absolute;
	top:10px;
	left: 10px;
	font-size: 13px;
	font-weight: bold;
	color: #666;
}
.footer-thirdbody .fbt-part_3 .fbt-part-list{
	width: 800px;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 120px;
	padding-top: 10px;
}
.footer-thirdbody .fbt-part_3 .fbt-part-list a{
	float: left;
	width: 160px;
	height: 19px;
	font-size: 13px;
	color: #666;
	margin-right: 8px;
	margin-bottom: 3px;
}
.footer-thirdbody .fbt-part_3 .fbt-part-list a:hover{
	color:#333;
	text-decoration: underline;
}		
.footer-fourthbody{
	width: 960px;
	height: 70px;
	position: relative;
	font-size:13px;
	color: #333;
}
.footer-fourthbody .footer-statement{
	width: 600px;
	height: auto;
	position: absolute;
	top: 5px;
	left:15px;
}
.footer-fourthbody .footer-about{
	width: 200px;
	height: auto;
	position: absolute;
	top: 5px;
	right:15px;
	display: flex;
}
.footer-fourthbody .footer-about a,span{
	color: #666;
	margin-right: 5px;
}
.footer-fourthbody .footer-about a:hover{
	color: #000;
}