/*隐藏横（底部）滚动条*/
body{
	width: 100%;
	height: auto;
	position: relative;
	overflow-x:hidden;
}
/*公共头部样式*/
.header{
	position: relative;
	width: 100%;
	height: 70px;
	font-size: 17px;
	margin: 0 auto;
	display: flex;
}
.header .headernav-left{
	display: flex;
	width: 280px;
	height: 50px;
	line-height: 50px;
	margin-left:100px;		
	margin-top: 10px;
	overflow: hidden;
}
.header .headernav-body{
	position: absolute;
	display: flex;
	width: 800px;
	height: 70px;
	margin-left: 400px;
	overflow: hidden;
}

.header .headernav-body li a{	
	width: 100px;
	height: 20px;
	font-style: bold;
	font-size: 20px;
	color: #333;
	text-align: center;
	margin-top: 25px;
}
.header .headernav-body a:hover{
	color: blue;
}
.header .headernav-right{
	position: absolute;
	display: flex;
	margin-left: 1320px;
	margin-top:25px;	
	overflow: visible;
}
.header .headernav-right li{
	margin-right: 10px;
}
.btn-login .account-panel{
	position: absolute;
	padding: 0;
	display: none;
	z-index:1;	
	background-color: #f3f7f9; 
}
.btn-login .account-panel a{
	width: 45px;
	font-size: 16px;
	color: black;
	text-align: center;
	padding-top: 4px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.btn-login:hover .account-panel{
	display: block;
}
.btn-login .account-panel li:hover > a {
	background-color: #99ccff;
}
.rel-me .contact{
	position: absolute;
	padding: 0;
	display: none;
	z-index:1;
	background-color: #f3f7f9;
	width: 135px;    
}
.rel-me .contact span{
	font-size: 15px;
	padding-left: 5px;
}
.rel-me:hover .contact{
	display: block;
}

/*divbody部分,预留假设主体位置*/
.divbody{
	width: 100%;
	height: 800px;
	background-color: #83EFB5;
}
.header-body-hr{
	width: 100%;
	height: 1px;
	color: #fff;
}


/*公共底部样式*/
.footer{
	width: 100%;
	height: 700px;
	border: solid 0.5px #ccc;
	position: relative;
	background-color: #F1F5F8;
	overflow: hidden;
}
.footer-firstbody{
	width: 960px;
	height: 160px;
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	overflow: hidden;
}
.footer-hr1{
	height: 150px;
	border: solid 0.5px #ddd;
}
.footer-hr2{
	width: 90%;
	border: solid 0.5px #ddd;
	margin: 15px auto;
}
.footer-firstbody .firstbody-item{
	width: auto;
	height: 160px;
	overflow: hidden;
	position: relative;
}
.footer-firstbody .firstbody-item .fbf-title{
	width: 200px;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -40px;

}
.footer-firstbody .firstbody-item .fbf-content{
	width: 100%;
	height: auto;
	font-size: 14px;
	margin: 30px 5px 5px 10px;
	position: relative;
}

.fbf-content-ul_1{
	float: left;
	width: 80px;
}
.fbf-content-ul_2{
	float: right;
	width: 120px;
}
.fbf-content-ul_3{
	position: absolute;
	left:0;
	top: 80px;
	width: 150px;
}
.download-qr_code{
	margin: 30px 5px 5px 10px;
}
.footer-firstbody .firstbody-item .fbf-content ul li{
	height: 20px;
	line-height: 20px;
}
.footer-firstbody .firstbody-item .fbf-content ul li a:hover{
	color: #333;
}
.footer-body-second{
	width: 960px;
	height: 160px;
	position: relative;
	margin: 20px auto;
	overflow: hidden; 
}
.footer-body-second .fbs-left{
	width: 400px;
	height: 60px;
	background-color: blue;
	position: relative;
	float: left;
}
.footer-body-second .fbs-right{
	width: 400px;
	height: 60px;
	background-color: blue;
	position: relative;
	float: right;
}
.footer-body-second .fbs-right img{
	/*position: absolute;
	top: 0px;
	right:40px;*/
	float: right;
}