/*主页index的主体样式*/
.index-body{
	width: 1520px;
	height: 1200px;
	margin-top: 5px;
}
.body-content{
	width: 1200px;
	margin:0 auto;
	position: relative;
	overflow: hidden;
}
.first-body{
	width: 1200px;
	height: 600px;
	position: relative;
	display: flex;
}
.first-body .first-body-side{
	width: 240px;
	height: auto;
	padding-top: 15px;
	color: #000;
	background-color: #DFE8E6;
}
.first-body .first-body-side li{
	padding: 7px 15px;
	font-size: 14px;
	line-height: 20px;
	display: flex;
}
.first-body .first-body-side li a{
	color: #000000;
}
.first-body .first-body-side li:hover{
	background: #90F8F3;
}
.first-body .first-body-side li a:hover{
	cursor: pointer;
	color: #F65218;
}

.first-body .first-body-center{
	width: 600px;
	height: auto;
	margin-left: 10px;
	position: relative;
}
.first-body .fb-center-banner{
	width: 600px;
	height: 280px;
	overflow: hidden;  
}
.first-body .fb-center-banner ul{
	width: 3000px;
	height: 280px;
	animation: lunbo 20s infinite linear;
}
.first-body .fb-center-banner ul li{
	float: left;
	opacity: 0.8;
}
@keyframes lunbo{
	0%{
		transform: translateX(0px);
	}
	20%{
		transform: translateX(0px);
	}
	22%{
		transform: translateX(-600px);
	}
	40%{
		transform: translateX(-600px);
	}
	42%{
		transform: translateX(-1200px);
	}
	60%{
		transform: translateX(-1200px);
	}
	62%{
		transform: translateX(-1800px);
	}
	80%{
		transform: translateX(-1800px);
	}
	82%{
		transform: translateX(-2400px);
	}
	100%{
		transform: translateX(-2400px);
	}
}
.first-body .fb-center-banner:hover ul{
	animation-play-state: paused;
}
.first-body .fb-center-banner ul li:hover{
	opacity: 1;
}
.first-body .fb-center-bottom{
	width: 600px;
	height: auto;
	position: relative;
	margin-top: 8px;
}
.first-body .fb-center-bottom ul li{
	float: left;
	margin-left: 6px;
}
.first-body .fb-center-bottom .ad-img{
	width: 596px;
	height: 125px;
	margin-top: 8px;
	margin-left: 2px;
}



.first-body-search{
	width:340px;
	height: 400px;
	border: 0;
	margin-left: 10px;
}
.fb-search-title{
	padding: 8px 20px;
	color: #fff;
	background-color: #69c;
	font-size: 20px;
	font-weight: bold;
}
.fb-search-content {
	background-color: #DFE8E6;
	padding: 15px 20px 20px;
}
.fbsc-form-destination-title{
	font-size: 18px;
}
.fbsc-form-destination .fbsc-form-destination-body input{
	margin-top: 6px;
}
.destination-input{
	width: 100%;
	height: 40px;
	background-color: #fff;
	border: 1px solid #dcdfe6;
	border-radius: 4px;
	box-sizing: border-box;
	color: #606266;
	display: inline-block;
	font-size: inherit;
	line-height: 40px;
	outline: none;
	padding-left:15px;
}

.destination-select-hide{
	width: 300px;
	height: 240px;
	background-color: #fff;
	border-radius: 4px;
	z-index: 1;
	position: absolute;
	font-size: 14px;
}
.destination-select-hide .dsh-title{
	line-height: 14px;
	padding:8px 10px 0 10px;
	font-weight: bold;
}
.destination-select-hide ul li{
	list-style: none;
	margin-left: 8px;
	margin-top: 8px;
	display: flex;
}
.destination-select-hide ul li .dsh-title-content{
	width: 250px;
	height: auto;
	padding-top: 8px;
}
.destination-select-hide ul li a{
	width: 50px;
	height:16px;
	color: black;
	float: left;
}
.destination-select-hide ul li a:hover{
	cursor: pointer;
	background-color: #cfc;
}
.fbsc-form-bookingtime{
	margin-top: 20px;
}
.fbsc-form-bookingtime .date-title span{
	font-size: 18px;
	padding-left: 50px;
	
}
.fbsc-form-bookingtime .dt-come-time,.dt-out-time{
	float: left;
	padding-left: 40px;
	padding-top: 8px;
}
.fbsc-form-bookingtime .checkin-btn{
	border:none;	
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: url(../img/time.png);
}
.fbsc-form-bookingtime .checkout-btn{
	border:none;	
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: url(../img/time.png);
}
.fbsc-form-live_numb{
	width: 300px;
	height: 30px;
	margin-top: 20px;
}
.fbsc-form-live_numb .fbsc-form-live_numb-title{
	float: left;
	font-size: 18px;
}
.fbsc-form-live_numb .fbsc-form-live_numb-select{
	font-size: 18px;
	width: 160px;
	height: 30px;
	margin-left: 15px;
	z-index: 1;
	outline: none;
	border: 0;
}

.fbsc-form-search_key .fbsc-form-search_key-title{
	float: left;
	padding-top: 20px;
	font-size: 18px;
}
.fbsc-form-search_key .search_key-input{
	width: 100%;
	height: 40px;
	background-color: #fff;
	border: 1px solid #dcdfe6;
	border-radius: 4px;
	box-sizing: border-box;
	color: #606266;
	display: inline-block;
	font-size: inherit;
	line-height: 40px;
	outline: none;
	padding-left:15px;
	margin-top: 6px;
}
.fbsc-form-high_search{
	width: 100%;
	height: auto;
	margin-top: 10px;
}
.fbsc-form-high_search .high_search-btn{
	font-size: 15px;
}
.fbsc-form-high_search .high_search-hide{
	width: 300px;
	height: 160px;
	background-color: #fff;
	border-radius: 4px;
	position: relative;
	font-size: 14px;
	padding-left: 10px;
}
.fbsc-form-high_search .high_search-hide p{
	padding-top: 8px;
}
.fbsc-form-high_search .high_search-hide label{
	display: block;
	width: 140px;
	height: 16px;
	float: left;
	padding-top: 4px;
}
.fbsc-form-high_search .high_search-btn:hover{
	cursor: pointer;
}

.fbsc-secrch_submit{
	width: 160px;
	height: 40px;
	position: relative;
	left: 50%;
	top:20px;
	margin-left: -80px;
	margin-bottom: 16px;
}
.fbsc-secrch_submit .fbsc-search-btn{
	width: 160px;
	height: 40px;
	position: relative;
	background-color: orange;
	border: 0;
	font-size: 20px;
	border-radius: 5px;
}	
.fbsc-secrch_submit .fbsc-search-btn a{
	color: #000000;
}
.second-body{
	width: 68%;
	height: 460px;
	margin-top: 30px;
	margin-left: 0px;
	position: relative;
	float: left;
}
.sb-title{
	float: left;
	font-size: 20px;
	font-weight: bold;
	color: #09f;
}
.sb-city_img{
	width: 100%;
	height: 80%;
	float: left;
	margin-top: 20px;
	margin-left: 0;
}
.sb-city{
	float: left;
	position: relative;
}
.city-name{
	position: absolute;
	font-size: 18px;
	color: #fff;
	margin-left: 5px;
	margin-top: 5px;	
	z-index: 2;
}
.city_img{
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
}
.city_img:hover{
	transform: scale(0.98);  
	cursor: pointer;
}
.third-body{
	width: 30%;
	height: 135px;
	background-color: #ebebeb;
	float: right;
	margin-top: 20px;
}
.third-body-title{
	font-size: 18px;
	font-weight: bold;
	margin-left: 15px;

	float: left;
	margin-top: 20px;
}
.third-body-show{
	width: 80%;
	height: 50%;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 16px;
	background-color: #ebebeb;
	border: 0;
}

.fourth-body{
	width: 30%;
	height: 145px;
	margin-top: 10px;
	float: right;
	background-color: #ebebeb;
}
.fourth-body-title{
	float: left;
	font-size: 17px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;
	color: #00bff3;
}
.web_show-img{
	float: left;
	width:100%;
	height:auto;	
	margin-top: 3px;
}

