@charset "UTF-8";
html,body,header,div,img,ul,li,footer,span,hr{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 80px;
	background-color: #fff;
}
.nav-left ul{		
	padding-left: 6%;
	padding-top: 15px;
	margin-left: 10px;
}
.nav-left li{
	list-style: none;
	margin-left: 8px;
	line-height: 50px;
	float:left;
}
.nav-left .nav-logo{
	padding-top: -20px;
}
.nav-body {	
	margin-left: 100px;
	float:left;
}
.nav-body a{
	text-decoration: none;
	font-style: bold;
	font-size: 20px;
	color: #666;	
}
.nav-body a:hover{
	color: blue;
}
.nav-body li{	
	list-style: none;
	line-height: 50px;
	margin-left: 10px;
	float:left;

}
.nav-right{
	float: left;
	margin-left: 20px;
	cursor: pointer;
}
.nav-right li{
	float: left;
	list-style: none;
	margin: 8px 5px;
}
.nav-right .nav-right-body li .hr_nav{
	margin-top: 5px;
}

.btn-login .btn-login-nav{
	font-size: 16px;
	margin-top: 5px;
}
.nav-right-body .account-panel{
	padding: 0;
	display: none;
	position: absolute;
	background-color: #f3f7f9; 
}
.nav-right-body .account-panel a{
	text-decoration: none;
	width: 25px;
	font-size: 15px;
	color: black;
	z-index:999;	
}
.nav-right-body .btn-login:hover .account-panel{
	display: block;
}
.nav-right-body .account-panel li:hover > a {
	background-color: #9cf;
}
.nav-right-body .contact{
	padding: 0;
	display: none;
	z-index:999;
	position: absolute;
	background: #fff;    
}
.nav-right-body .contact span{
	font-size: 15px;
}
.nav-right-body .rel-me:hover .contact{
	display: block;
}

.body{
	width: 100%;
	margin: 0 auto;
}
.first-body{
	width: 100%;
	height: 88px;
	background-color: #F1F5F8;
	box-shadow:0 1px 1px #ccc;

}
.fb-content{
	width: 80%;
	padding-top: 8px;
	margin: 0 auto;
	font-size: 14px；
}

.fbc-dectination{
	float: left;
	position: relative;
	font-size: 14px;
}
.fbc-dectination .fbc-dectination-title{
	float: left;
	padding-left: 10px;
}
.fbc-dectination .fbc-dectination-input{
	line-height: 40px;
	width: 250px;
	margin:  3px 0 0 0;
	padding-left: 0;
	border-radius: 3px;
	border: 0;		
}
.destination-select-hide {
	background-color: #fff;
	width: 250px;
	height: 300px;
	position: absolute;
	float: left;
	z-index: 999;
	margin-top: 2px;	
}
.dsh-title{
	font-size: 14px;
	line-height: 0.5;
	padding-left: 8px;
	font-weight: bold;
}
.destination-select-hide ul li{
	list-style: none;
	margin-left: 8px;
	margin-top: 8px;
	float: left;
	font-size: 16px;
}
.dsh-title-content{
	padding-top: 8px;
}
.destination-select-hide ul li a{
	padding-right: 10px;
	text-decoration: none;
	color: black;	
}
.destination-select-hide ul li a:hover{
	cursor: pointer;
	background-color: #cfc;
}

.fbc-data{
	float: left;
	position: relative;
	font-size: 14px;
}
.fbc-data-come{
	float: left;
	padding-left: 80px;
}
.fbc-data-out{
	float: left;
	padding-left: 290px;
}
.fbc-data .fbc-data-input1{
	line-height: 40px;
	width: 130px;
	margin: 20px 0 0 -410px;
	border-radius: 3px;
	border: 0;
	font-size: 18px;
	padding-left: 10px;
}
.fbc-data .fbc-data-input2{
	line-height: 40px;
	width: 40px;
	margin: 20px 0 0 40px;
	border-radius: 3px;
	border: 0;
	font-size: 18px;
	padding-left: 10px;
}
.fbc-data .fbc-data-input3{
	line-height: 40px;
	width: 130px;
	margin: 20px 0 0 40px;
	border-radius: 3px;
	border: 0;
	font-size: 18px;
	padding-left: 10px;
}
.fbc-live_numb{	
	float: left;
	position: relative;
	font-size: 14px;
	margin-left: -200px;
}
.fbc-live_numb .fbc-live_numb-title{
	float: left;	
	padding-left: 15px;
}
.fbc-live_numb-select{
	border: 0;
	
}
.fbc-live_numb .fbc-live_numb-select select{
	margin: 2px 0 0 10px;
	width: 210px;
	height: 45px;
	border-radius: 3px;
	border: 0;
	font-size: 20px;
	padding-left: 15px;
}
.fbc-search{
	line-height: 40px;
	float: right;
	width: 48px;
	height: 45px;
	background-color: #39f;
	position: relative;
	text-decoration: none;
	font-size: 20px;
	margin: 20px 0 0 20px;
	padding: 0 30px ;
	border-radius: 3px;
}
.second-body{
	margin-top: 2px;
	width: 100%;
	height: 2310px;
	background-color: #e9ecf2;

}
.second-body-content{
	width: 80%;
	margin: 0 auto;
	padding-top: 8px;
}
.second-body-left{
	width: 25%;
	height: 1500px;
	float: left;
}
.sbl-map{
	position: relative;
}
.sbl-map-bac{
	position: absolute;
	width: 100%;
}
.sbl-map-show_btn{
	position: absolute;
	margin-left: 100px;
	margin-top: 30px;
	border-radius: 4px;
	border: solid 2px #fff;
	width: 95px;
	height: 35px;
	background-color: #3cc;
	font-size: 15px;
	color: #fff;
}
.sbl-map-show_btn:hover{
	opacity: 0.6;
	cursor: pointer;
}
.sbl-search{
	float: left;
	position: relative;
	width: 100%;
	margin-top: 107px;
	background-color: #edf0f3;
	border: solid 0.5px #ccc;
}
.sbl-search-select-title{
	line-height: 60px;
	font-size: 20px;
	padding-left: 10px;
	font-weight: bold;
}
.sec_title{
	line-height: 30px;
	font-size: 16px;
	padding-left: 25px;
	font-weight: bold;
}
.sbl-search-select_item{
	width: 80%;
	padding-left: 25px;
	line-height: 28px;	
}
.checkbox-label{
	width: 100%;
	height: 33px;
	background-color: #edf0f3;
}
.checkbox-label:hover{
	background-color: #6c9;
}
.checkbox_select{	
	margin-top: 2px;
	cursor: pointer;
	width: 15px;
	height: 15px;
	border: 0;
	background-color: #fff;
}
.checkbox_content{
	font-size: 15px;
	padding-left: 8px;

}
.second-body-left-hr{
	width: 80%;
	margin: 15px auto;
	height: 1px;
	color: #ccc;
	opacity: 0.5;
}
.sbl-search-star-content{
	margin-left: 25px;
}
.sbl-search-star-content input{
	margin-right: 5px;
	background-color: #fff;
	font-size: 16px;
	border: 0;
	line-height: 25px;
	margin-top: 3px;	
}
.sbl-search-days_price-content{
	margin-left: 25px;
}
.days_price-title{
	font-size: 13px;
	margin-right: 57px;
}
.days_price-input{
	width: 65px;
	height: 30px;
	padding-left: 8px;
	border-radius: 3px;
	border: 0;
}
.days_price-btn{
	width: 50px;
	height: 35px;
	margin-left: 10px;
	border-radius: 3px;
	border: 0;
	background-color: #3cc;
}
.days_price-btn:hover{
	cursor: pointer;
	opacity: 0.6;
}
.place-content{
	width: 80%;
	margin-left: 25px;
}
.place-content-title{
	font-size: 15px;
}
.pc-symbol,.pc-symbol-b{
	float: right;
}
.brand-content{
	margin-left: 25px;
}
.brand-content-kind{
	margin-bottom: 12px;
	font-size: 15px;
}
.sbl-history{
	width: 100%;
	height: 130px;
	background-color: #fff;
	border: solid 0.5px #ccc;	
	float: left;
	margin-top: 15px;
}
.sbl-history-title{
	font-size: 18px;
	font-weight: bold;
	margin-left: 15px;
	float: left;
	margin-top: 20px;
}
.sbl-history-show{
	width: 80%;
	height: 50%;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 16px;
	border: 0;
}
.sbl-search-tenet{
	width: 100%;
	height: 300px;
	margin-top: 25px;
	float: left;
}
.sbl-search-tenet-title{
	font-size: 17px;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 25px;
	color: green;
}
.sbl-search-tenet-content{
	margin-top: 14px;
}
.tenet-content-main{
	margin-top: 8px;
	float: left;
}
.tenet-content-img{
	float: left;
}
.tenet-content-right{
	float: left;
	width: 80%;
	margin-left: 5px;
}
.tenet-content-title{
	font-size: 15px;
	font-weight: bold;
	margin-top: 0;	
}
.tenet-content-say{
	font-size: 14px;
}

.second-body-right{
	width: 73%;
	height: 2300px;
	float: left;
	margin-left: 15px;
	position:relative;
}
.sbr-title{	
	margin-top: 3px;
	float: left;

}
.sbr-title-a{
	font-size: 19px;
}
.sbr-title-b,.sbr-title-c{
	color: #ffa024;
	font-size: 18px;
	font-weight: bold;
}
.sbr-top_nav{
	width: 100%;
	height: 45px;
	background-color: #fff;
	float: left;
	border: solid 0.5px #ccc;
	margin-top: 10px;
}
.sbr-top_nav ul li{
	list-style: none;
	float: left;
	width: 20%;
	height: 45px;
	background-color: #fff;

}
.top_nav-sort{
	font-size: 15px;
	float: left;
}
.sort-1{
	color: blue;
}
.top_nav-sort a{
	float: left;
	padding-left:45px;
	margin-top: 12.5px;
}
.top_nav-sort i{
	font-style: normal;
}
.sbr-top_nav ul li:hover{
	cursor: pointer;
	color: blue;
}
.sbr-content{
	width: 100%;
	height: 203px;
	border: solid 0.5px #ccc;
	background-color: #fff;
	float: left;
	margin-top: 10px;
}
.sbr-content-img{
	margin-left: 15px;
	margin-top: 15px;
	border-radius: 3px;
	float: left;
}
.sbr-content-center{
	float: left;
	width: 50%;
	height: 100%;
}
.center-first{
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}
.center-first-title_chs{
	font-size: 20px;
	font-weight: bold;
}
.center-first-title_chs:hover{
	cursor: pointer;
	text-decoration: underline;
}
.center-first-title_en{
	font-size: 14px;
	font-weight: bold;
}
.center-first-comment{
	font-size: 14px;
	color: #f60;
	margin-left: 8px;
}
.center-first-place{
	font-size: 14px;
	color: black;
	margin-right: 8px;
}
.center-first-place_2{
	font-size: 14px;
}
.center-second{
	float: left;
	width: 100%;
	margin-top: 55px;
	margin-left: 8px;
	position: relative;
}
.center-third{
	margin-left: 340px;
	margin-top: 15px;
	position: absolute;
	height: 180px;
}
.center-third-title{
	font-size: 20px;
	color: #06f;
}
.center-third-title2{
	font-size: 20px;
	width: 80px;
	height: 30px;	
	border-radius: 5px;
	background-color: #06f;
	color: #fff;
	margin-left: 8px;
}
.center-third-comment_numb{
	font-size: 14px;
}
.center-third-title,.center-third-title2,.center-third-comment_numb:hover{
	cursor: pointer;
}
.sbr-content-hr{
	float: left;
	height: 80%;
	margin-top: 20px;
	margin-left: 15px;
	border: solid 0.7px #ccc;
	opacity: 1;
	color: #ccc;
}
.sbr-content-right{
	float: left;
	width: 25%;
}
.right-price{
	float: right;
	margin-top: 15px;
}
.right-price-mode{
	font-size: 13px;
	color: #f60;
}
.right-price-numb{
	font-size: 32px;
	color: #f60;
}
.right-price-unit{
	font-size: 13px;
}
.right-price-button{
	float: right;
	font-size: 18px;
	width: 115px;
	height: 35px;
	border-radius: 4px;
	border: 0;
	color: #fff;
	background-color: #ffa024;
	margin-top: 65px;
	margin-right: 10px;
}
.right-price-button:hover{
	opacity: 0.85;
	cursor: pointer;
}
.sbr-bottom_nav{
	width: 100%;
	height: 45px;
	background-color: #fff;
	border: solid 0.5px #ccc;
	float: left;
	position: absolute;
	bottom: 10px;
}
.sbr-bottom_nav-content{
	width: 60%;
	margin-left: 25%;
	float: left;
}
.sbr-bottom_nav-content ul li{
	list-style: none;	
	background-color: #fff;
	margin-right: 7%;
	margin-top: 12.5px;
	font-size: 14px;
	float: left;
}
.sbr-bottom_nav-content ul li:hover{
	cursor: pointer;
	color: blue;
}
.sbr-bottom_nav-numb-1{
	color: blue;
}


.footer{
	float: left;
	width: 100%;
	height: 700px;
	border: solid 0.5px #ccc;
	position: relative;
	background-color: #F1F5F8;
}
.footer-body{
	width: 80%;
	height: 100%;
	margin-left: 10%;
	position: absolute;
}
.footer-body-first{
	width: 100%;
	height: 160px;
	margin-top: 20px;
	float: left;
}
.footer-body-hr1{
	float: left;
	height: 100%;
	border: solid 0.5px #ccc;
}
.fbf-product{
	float: left;
	width: 180px;
	height: 100%;
}
.fbf-about{
	float: left;
	width: 220px;
	height: 100%;
	margin-left: 25px;
}
.fbf-tourist_tribes{
	float: left;
	width: 100px;
	height: 100%;
	margin-left: 25px;
}
.fbf-tourism_services{
	float: left;
	width: 220px;
	height: 100%;
	margin-left: 25px;
}
.fbf-more_services{
	float: left;
	width: 130px;
	height: 100%;
	margin-left: 25px;
}
.fbf-app_download{
	float: left;
	width: 130px;
	height: 100%;
	margin-left: 25px;
}
.fbf-title{
	font-size: 14px;
	font-weight: bold;
	margin-top: 15px;
}
.fbf-content{
	float: left;
	width: 100%;
	height: 100%;
	margin-top: 12px;
}
.fbf-content ul{
	list-style: none;	
}
.fbf-content-ul_1{
	float: left;
}
.fbf-content-ul_2{
	float: right;
	margin-right: 35px;
}
.fbf-content-ul_3{
	float: left;
}
.fbf-content-text{
	font-size: 14px;
	color: #06c;
	margin-top: 5px;
}
.fbf-content ul li:hover{
	cursor: pointer;
	color: black;
}
.fbf-app_download-qr_code-img{
	margin-top: 20px;
}
.footer-body-hr2{
	float: left;
	width: 100%;
	border: solid 0.5px #ccc;
	margin-top: 20px;
}
.footer-body-second{
	float: left;
	width: 100%;
	height: 100px;
}
.fbs-left{
	float: left;
	margin:30px;
}
.fbs-right{
	float: right;
	margin:30px;
}
.fbs-left-title{
	float: left;
	font-size: 13px;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 10px;
	color: #666;
}
.fbs-right-title{
	float: left;
	font-size: 13px;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 10px;
	color: #666;
}
.footer-body-third{
	float: left;
	width: 99.8%;
	height: 330px;
	border: solid 1.5px #ccc;
	border-radius: 3px;
	background-color: #fff;
}
.fbt-slogan{
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 20px;
	color: #666;
}
.fbt-part_1,.fbt-part_2,.fbt-part_3{
	float: left;
	width: 100%;
	height: 80px;
	margin-top: 15px;
	margin-left: 20px;
}
.fbt-part-title{
	float: left;
	font-size: 13px;
	font-weight: bold;
	color: #666;
}
.fbt-part-list{
	float: left;
	width: 91%;
	margin-left: 15px;
}
.fbt-part-list a{
	float: left;
	width: 80px;
	height: 19px;
	margin-bottom: 3px;
}
.fbt-content{
	text-decoration: none;
	font-size: 13px;
	color: #999;
}
.fbt-part_3 .fbt-part-list a{
	float: left;
	width: 160px;
	height: 19px;
	margin-bottom: 3px;
}
.fbt-part-list a:hover{
	cursor: pointer;
	text-decoration: underline;
}
.footer-body-fourth{
	float: left;
	width: 100%;
	height: 30px;
	margin-top: 20px;
}
.footer-statement{
	float: left;
	font-size: 12px;
	margin-bottom: 3px;
}
.footer-about{
	float: right;
}
.footer-about a{
	font-size: 12px;
	color: black;
	text-decoration: none;
}
.footer-about a:hover{
	cursor: pointer;
	text-decoration: underline;
}